:root {
  --fondo: url(sol.jpg)
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e9eef1;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 200px; /* Espacio al final del scroll */
}


.titulo-sticky {
    position: sticky;
    top: 0; /* Punto donde se pega */
    background: #444;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 2rem;
    z-index: 10; /* Asegura que quede por encima */
}


.fixed-element {
    position: fixed; /*lo mantiene en pantalla siempre aunque se haga scroll*/
    left: 60px;
    top: 150px;
    background: #333333;
    color: white;
    padding: 12px 30px;
    border-radius: 12px;
    z-index: 20;
}

.fixed-element2 {
    position: fixed; /*lo mantiene en pantalla siempre aunque se haga scroll*/
    right: 60px;
    bottom: 60px;
    background: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 15px;
  
}











.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


.card {
    width: 500px;
    height: 900px;
    background: var(--fondo);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    position: relative; /* Necesario para elementos absolute internos */
    overflow: hidden;   /* Oculta partes de la imagen absoluta */
}


.imagen {
    position: absolute;/* Se sale del fujo normal*/
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: -1; /* Se manda al fondo */
    opacity: 0.7;
}


.card-title {
    background: black;
    color: white;
    padding: 12px;
    border-radius: 6px;
}


.description {
    position: relative; /* Permite moverla sin sacarla del flujo normal */
    top: 10px;          /* Ejemplo de desplazamiento */
    background: black;
    color: white;
    padding: 12px;
    border-radius: 6px;
    margin-top: 20px;
}




.action-btn {
    position: absolute; /* Lo saca del flujo */
    right: 20px;
    bottom: 20px;
    padding: 10px 18px;
    background:orange;
    color: white;
   
}

.action-btn:hover {  
    background: #d54f2a;/* Esto hace que el botón se marque al pasar el puntero del ratón por encima */
}